thead th {
    color: #848489;
    font-weight: bold;
    padding-bottom: 0.5rem;
    font-size: small;
}

thead>tr>td {
    font-weight: bold;
}

tfoot>tr>td {
    font-weight: bold;
}

tr>*:first-child {
    padding-left: 0.75rem;
}

tbody>tr>*:first-child {
    padding-left: 0.75rem;
}

tbody td:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tbody td:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

table tbody tr:hover {
    background: #336f90;
}

h3 {
    font-weight: 600;
    padding-left: 0.75rem;
}

h5 {
    color: #4F4F4F;
    padding-bottom: 1.5rem;
    padding-left: 0.75rem;
    font-weight: bold;
}

body {
    font-size: 0.9rem;
    letter-spacing: -0.35px;
}

main {
    padding-left: 0.4rem;
}